#
# This is the default nginx configuration for wokd service.
# If you need to change it for any reason, please, validate /etc/wok/wok.conf
#

client_max_body_size 4194304k;

# Set timeout, based on configuration values, to avoid the 504 Gateway Timeout
# when Wok is processing a request.
#
# Session timeout value must be properly set in /etc/wok/wok.conf as well
proxy_connect_timeout       10m;
proxy_send_timeout          10m;
proxy_read_timeout          10m;
send_timeout                10m;

map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

# To use a different port to websockets connections, change the configuration
# below and DO NOT forget to update /etc/wok/wok.conf accordingly
upstream websocket {
{% if wok.websockets_port | default(false) %}
    server 127.0.0.1:{{ wok.websockets_port }};
{% else %}
    server 127.0.0.1:64667;
{% endif %}

}

server {
    # Default HTTP port is 8000
    #
    # DO NOT forget to update proxy_port parameter in /etc/wok/wok.conf when
    # changing this value
    # Port to listen on
{% if wok.port | default(false) %}
    listen 0.0.0.0:{{ wok.port }};
{% else %}
    listen 0.0.0.0:8000;
{% endif %}

    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";

    # Update location path for relative path
    # e.g.: localtion /wok
    location / {
        # Default cherrypy port for Wok is 8010
        # DO NOT forget to update cherrypy_port parameter in /etc/wok/wok.conf
        # when changing this value
{% if wok.cherrypy_port | default(false) %}
        proxy_pass http://127.0.0.1:{{ wok.cherrypy_port }};
{% else %}
        proxy_pass http://127.0.0.1:8010;
{% endif %}
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        # Update location path for http for relative path
        # e.g.: proxy_redirect http://127.0.0.1:8010/ http://$host:8000/wok/;
{% if wok.cherrypy_port | default(false) and wok.port | default(false) %}
        proxy_redirect http://127.0.0.1:{{ wok.cherrypy_port }}/ http://$host:{{ wok.port }}/;
{% elif wok.cherrypy_port | default(true) and wok.port | default(false) %}
        proxy_redirect http://127.0.0.1:8010/ http://$host:{{ wok.port }}/;
{% elif wok.cherrypy_port | default(false) and wok.port | default(true) %}
        proxy_redirect http://127.0.0.1:{{ wok.cherrypy_port }}/ http://$host:8000/;
{% else %}
        proxy_redirect http://127.0.0.1:8010/ http://$host:8000/;
{% endif %}
    }

    # Update location path for relative path
    # e.g.: localtion /wok/websockify
    location /websockify {
        proxy_pass http://websocket;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }
}
